* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 800px;
  margin: 100px auto;

  padding: 32px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.image {
  width: 100%;
  border-radius: 20px;
  background-image: linear-gradient(#0000003a, #91ca17ab);
}

h1,
h2 {
  font-family: "Young Serif", sans-serif;
  text-transform: capitalize;
  margin: 16px 0px;
}

h1 {
  color: hsl(24, 5%, 18%);
  font-weight: 400;
  font-size: 36px;
}

h2 {
  color: hsl(14, 45%, 36%);
  font-weight: 400;
}

li {
  padding-left: 24px;
}

.preparation {
  background-color: hsl(330, 100%, 98%);
  border-radius: 20px;
  padding: 24px;
  margin: 24px 0px;
}

.preparation-par {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 12px;
}

.preparation-items {
  padding-left: 32px;
  line-height: 2;
}

.preparation-items .preparation-item::marker {
  color: hsl(332, 51%, 32%);
  font-size: 12px;
}

.sections {
  border-bottom: solid 2px hsl(30, 18%, 87%);
}

.items {
  padding-left: 32px;
  /* line-height: 2; */
}

.items:last-child {
  margin-bottom: 24px;
}

.items .ingredients-item::marker {
  color: hsl(14, 45%, 36%);
  font-size: 12px;
}
.instructions .instruction::marker {
  font-weight: 700;
  font-size: 14px;
  line-height: 3;
}

.ingredients {
  line-height: 2;
}

.nutrition-par {
  margin-bottom: 16px;
}

.display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  /* row-gap: 0px; */
}

.valu {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

.border {
  border-top: 2px solid hsl(30, 18%, 87%);
  grid-column: 1/-1;
  padding-top: 8px;
}

.link {
  margin-top: 80px;
}
